@import url("https://fonts.googleapis.com/css?family=Roboto");
body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  margin: 0 0;
  padding: 0 0;
  cursor: none;
}

body {
  padding: 1rem;
  margin: 0 auto;
}

body > * {
  margin: 0 auto;
}

body > div {
  width: max-content;
  position: absolute;
  left: 0;
  right: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
