@import url("https://fonts.googleapis.com/css?family=Roboto");
body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  cursor: none;
}

body {
  width: max-content;
  transition: opacity 1s ease-in-out;
}

body > div {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

body > div.page {
  transition: opacity 0.5s ease-in-out;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
